# **Análisis Computacional de Datos Lingüísticos**
### Javier Vera Zúñiga, javier.vera@pucv.cl
## **Clase 4**
### Manejo de archivos: **texto + tablas!**

## Parte A. **(aspectos fundamentales sobre diccionarios desde) pandas!**
### [link Glottolog](https://glottolog.org/)
### [link pandas](https://pandas.pydata.org/)

In [1]:
## usemos pandas!
## recomendación: trate siempre de usar pandas para datos tabulados!!! (al menos para leer datos)

import pandas as pd

In [2]:
## https://glottolog.org/meta/downloads
## noten que "langs" queda como un objeto del tipo "data frame"

langs = pd.read_csv('languages_and_dialects_geo.csv',sep=',')

In [3]:
langs

,glottocode,name,isocodes,level,macroarea,latitude,longitude
0,3adt1234,3Ad-Tekles,NaN,dialect,Africa,NaN,NaN
1,aala1237,Aalawa,NaN,dialect,Papunesia,NaN,NaN
2,aant1238,Aantantara,NaN,dialect,Papunesia,NaN,NaN
3,aari1239,Aari,aiw,language,Africa,5.95034,36.5721
4,aari1240,Aariya,aay,language,Eurasia,NaN,NaN
...,...,...,...,...,...,...,...
21324,zuwa1238,Zuwadza,NaN,dialect,Papunesia,NaN,NaN
21325,zwal1238,Zwall,NaN,dialect,Africa,NaN,NaN
21326,zyph1238,Zyphe,zyp,language,Eurasia,22.52400,93.2640
21327,zyud1238,Zyuzdin,NaN,dialect,Eurasia,NaN,NaN
21328,huaa1249,ǂHua,NaN,dialect,Africa,NaN,NaN

In [4]:
## miremos las columnas

langs.columns

Index(['glottocode', 'name', 'isocodes', 'level', 'macroarea', 'latitude',
       'longitude'],
      dtype='object')

In [5]:
## accedemos a una columna con langs['glottocode']

langs['glottocode']

0        3adt1234
1        aala1237
2        aant1238
3        aari1239
4        aari1240
           ...
21324    zuwa1238
21325    zwal1238
21326    zyph1238
21327    zyud1238
21328    huaa1249
Name: glottocode, Length: 21329, dtype: object

In [6]:
## primeras filas!

langs[:3]

  glottocode        name isocodes    level  macroarea  latitude  longitude
0   3adt1234  3Ad-Tekles      NaN  dialect     Africa       NaN        NaN
1   aala1237      Aalawa      NaN  dialect  Papunesia       NaN        NaN
2   aant1238  Aantantara      NaN  dialect  Papunesia       NaN        NaN

In [7]:
## índices!

langs.index

RangeIndex(start=0, stop=21329, step=1)

In [8]:
## iloc!

langs.iloc[0]

glottocode      3adt1234
name          3Ad-Tekles
isocodes             NaN
level            dialect
macroarea         Africa
latitude             NaN
longitude            NaN
Name: 0, dtype: object

In [9]:
## loc!

langs.loc[0,'glottocode']

'3adt1234'

In [10]:
## mirar https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html

In [11]:
## nos quedamos con un dataframe con dos columnas: iso vs glottocode
## elmiminamos los NaN

iso_glotto = langs[['isocodes','glottocode']]
iso_glotto = iso_glotto.dropna()

In [12]:
iso_glotto

      isocodes glottocode
3          aiw   aari1239
4          aay   aari1240
5          aas   aasa1238
11         kbt   abad1241
13         abg   abag1245
...        ...        ...
21311      zuy   zuma1239
21313      jmb   zumb1240
21318      zun   zuni1245
21319      zzj   zuoj1238
21326      zyp   zyph1238

[8019 rows x 2 columns]

In [13]:
## ¿Cómo hacemos un diccionario?

## diccionario iso:glottocode

## manera sofisticada

iso_glotto1 = dict(zip(iso_glotto['isocodes'], iso_glotto['glottocode']))

## manera menos sofisticada (no hay una mejor que otra). En general, se prefiere que los códigos sean más
## cortos. Sin embargo, también se vuelven más crípticos. Hay que encontrar un balance :)

iso = list(iso_glotto['isocodes'])
glotto = list(iso_glotto['glottocode'])

iso_glotto_pairs = []

for i in range(len(iso)):
    iso_glotto_pairs += [[iso[i],glotto[i]]]

iso_glotto2 = {item[0]:item[1] for item in iso_glotto_pairs}

In [14]:
iso_glotto1['arn']

'mapu1245'

In [15]:
iso_glotto2['arn']

'mapu1245'

In [16]:
## ¿Cómo podemos filtrar solo las lenguas de América?

## filtramos por lenguas de las Américas

macroarea = langs[['isocodes','macroarea']]
macroarea = macroarea.dropna()

In [17]:
## a la manera sofisticada
## ejercicio: hacerlo de la forma no sofisticada!!!

macroarea = dict(zip(macroarea['isocodes'], macroarea['macroarea']))

In [18]:
areas_list = list(macroarea.values())

In [19]:
## extraigamos los values de macroarea

## forma sofisticada

areas = set(macroarea.values())

In [20]:
areas

{'Africa',
 'Australia',
 'Eurasia',
 'North America',
 'Papunesia',
 'South America'}

In [21]:
## forma no sofisticada

areas = []

for value in macroarea.values():
    if value not in areas:
        areas = areas + [value]

In [22]:
areas

['Africa',
 'Eurasia',
 'Papunesia',
 'South America',
 'North America',
 'Australia']

In [23]:
## ¿Cómo podemos filtrar iso_glotto2 solo con lenguas que tengan macroarea 'North America' y 'South America'?

## nos quedamos con los keys que estén en el diccionario macroarea
iso_glotto2 = {iso:iso_glotto2[iso] for iso in iso_glotto2.keys() if iso in macroarea.keys()}

In [24]:
## nos quedamos con los keys que tengan macroarea[key] in ['North America','South America']
iso_glotto2 = {iso:iso_glotto2[iso] for iso in iso_glotto2.keys() if macroarea[iso] in ['North America','South America']}

In [25]:
len(iso_glotto2)

1260

In [26]:
## y si queremos guardar iso_glotto2? usamos pickle!!!

import pickle

pickle.dump(iso_glotto2,open('iso_glotto.p','wb'))

In [27]:
## ¿Cómo leemos datos pickle?

iso_glotto = pickle.load(open('iso_glotto.p','rb'))

##### otra información de Glottolog :)

In [28]:
## Objetivo: mirar languoids!
## https://glottolog.org/meta/downloads

languoids = pd.read_csv('languoid.csv',sep=',')

In [29]:
languoids

,id,family_id,parent_id,name,bookkeeping,level,latitude,longitude,iso639P3code,description,markup_description,child_family_count,child_language_count,child_dialect_count,country_ids
0,3adt1234,afro1255,nort3292,3Ad-Tekles,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1,aala1237,aust1307,ramo1244,Aalawa,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
2,aant1238,nucl1709,nort2920,Aantantara,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
3,aari1238,sout2845,ahkk1235,Aari-Gayil,False,family,NaN,NaN,aiz,NaN,NaN,0,2,0,NaN
4,aari1239,sout2845,aari1238,Aari,False,language,5.95034,36.5721,aiw,NaN,NaN,0,0,0,ET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25434,zuti1239,tupi1275,guaj1255,Guajajára of Zutiua,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
25435,zuwa1238,koia1260,omie1241,Zuwadza,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
25436,zwal1238,atla1278,shal1242,Zwall,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
25437,zyph1238,sino1245,nucl1757,Zyphe,False,language,22.52400,93.2640,zyp,NaN,NaN,0,0,2,IN MM
25438,zyud1238,ural1272,komi1269,Zyuzdin,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN

In [30]:
## filtremos languoids según los keys de iso_glotto :)

languoids = languoids[languoids['iso639P3code'].isin(iso_glotto.keys())]

In [31]:
languoids

,id,family_id,parent_id,name,bookkeeping,level,latitude,longitude,iso639P3code,description,markup_description,child_family_count,child_language_count,child_dialect_count,country_ids
49,abip1241,guai1249,guai1250,Abipon,False,language,-29.000000,-61.000000,axb,NaN,NaN,0,0,0,AR
50,abis1238,NaN,NaN,Aewa,False,language,-1.284096,-75.084405,ash,NaN,NaN,0,0,0,PE
84,acat1239,otom1299,west2948,Acatepec Me'phaa,False,language,17.103400,-99.060200,tpx,NaN,NaN,0,0,3,MX
88,acha1250,araw1281,piap1247,Achagua,False,language,4.386490,-72.200500,aca,NaN,NaN,0,0,0,CO
92,ache1246,tupi1275,tupi1277,Aché,False,language,-25.586500,-56.469700,guq,NaN,NaN,0,0,0,PY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25287,zapa1253,zapa1251,zapa1252,Záparo,False,language,-1.998710,-76.364000,zro,NaN,NaN,0,0,0,EC PE
25331,zenz1235,otom1299,core1263,Zenzontepec Chatino,False,language,16.527990,-97.455460,czn,NaN,NaN,0,0,0,MX
25389,zoee1240,tupi1275,zoee1241,Zo'é,False,language,-1.772080,-55.507460,pto,NaN,NaN,0,0,0,BR
25397,zoog1238,otom1299,cajo1239,Zoogocho Zapotec,False,language,17.201600,-96.343300,zpq,NaN,NaN,0,0,3,MX US
25428,zuni1245,NaN,NaN,Zuni,False,language,35.005600,-108.782000,zun,NaN,NaN,0,0,0,US

In [32]:
languoids = languoids[['id','family_id']]

In [33]:
languoids

             id family_id
49     abip1241  guai1249
50     abis1238       NaN
84     acat1239  otom1299
88     acha1250  araw1281
92     ache1246  tupi1275
...         ...       ...
25287  zapa1253  zapa1251
25331  zenz1235  otom1299
25389  zoee1240  tupi1275
25397  zoog1238  otom1299
25428  zuni1245       NaN

[1260 rows x 2 columns]

In [34]:
languoids = languoids.dropna()

In [35]:
languoids

             id family_id
49     abip1241  guai1249
84     acat1239  otom1299
88     acha1250  araw1281
92     ache1246  tupi1275
96     achi1256  maya1287
...         ...       ...
25277  zani1235  otom1299
25287  zapa1253  zapa1251
25331  zenz1235  otom1299
25389  zoee1240  tupi1275
25397  zoog1238  otom1299

[1184 rows x 2 columns]

In [36]:
## resolvamos, ahora, una pregunta que ya hemos resuelto. Definamos un diccionario glottocode:familia

diccionario_glottocode_fam = {}
## primero, recorremos los índices

for i in languoids.index:
    diccionario_glottocode_fam[languoids.loc[i,'id']]=languoids.loc[i,'family_id']

In [37]:
len(diccionario_glottocode_fam)

1184

## Parte B. **texto!**

In [62]:
len(iso_glotto)

1260

In [68]:
#'udhr/udhr_kaz.txt'[10:13]

'kaz'

In [69]:
## supongamos que queremos leer los archivos de la carpeta udhr
## ¿Qué pasa si no sabemos los nombres? ¿Y si solo sabemos que son archivos .txt? :)

import glob

lista_files = glob.glob('udhr/*.txt')
corpus = {}

for file in lista_files:
    ## lista de lenguas
    if file[10:13] in iso_glotto.keys():
        with open(file, 'r') as file_input:
            corpus[file[10:13]]=file_input.read()

In [84]:
## ahora, lo mismo pero con pandas!

import glob

lista_files = glob.glob('udhr/*.txt')

corpus = {}

for file in lista_files:
    
    if file[10:13] in iso_glotto.keys():
        dataframe = pd.read_csv(file, sep='\n', header=None)
        dataframe.columns = ['sentences']
        corpus[file[10:13]]=list(dataframe['sentences'])

In [86]:
## tercera versión!!! supongamos que sabemos los nombres de los archivos

corpus = {}

for lengua in iso_glotto.keys():
    file = open('udhr/'+'udhr_'+lengua+'.txt','r')
    file = file.read()
    corpus[lengua]=file

FileNotFoundError: [Errno 2] No such file or directory: 'udhr/udhr_axb.txt'

In [87]:
## ¿Qué hacemos con este error? De alguna forma, estamos tratando de abrir archivos que no existen :)

corpus = {}

for lengua in iso_glotto.keys():
    
    ## noten la secuencia try-except. Usamos el error
    
    try:
        file = open('udhr/'+'udhr_'+lengua+'.txt','r')
        file = file.read()
        corpus[lengua]=file
    except FileNotFoundError:
        pass

In [88]:
corpus['arn']

'Universal Declaration of Human Rights - Mapudungun\n© 1996 – 2009 The Office of the High Commissioner for Human Rights\nThis plain text version prepared by the “UDHR in Unicode”\nproject, https://www.unicode.org/udhr.\n---\n\nKom Mapu Fijke Az Tañi Az Mogeleam\n    Tuwvlzugun\n    ("Preámbulo" pi ta wigka)\n    Kimnieel fij mapu mew tañi kimgen kvme felen kisugvnew felen xvr kvme mvlen. Tvfaci zugu ñi mvleken mvleyem yamvwvn ka xvr kvme nor felen kom pu reñmawke ce mew.\n    Gewenonmu yamuwvn, zuamgewenonmu kvme felen, goymagenmu nor felen mvley re jazkvnkawvn: Fey mew mvley xvrvmzugu kom pu ce tañi kvme mogeleam kisuke ñi feyentun mew, kisu ñi rakizuam mew ka ñi wimtun mew ñi mvleal egvn.\n    Tañi mvlenoam kaiñetuwvn zugu, awkan zugu tvfeyci wezake vbmen egvn mvley tañi xvrvmuwael tvfeyci wvnenkvleci pu ce zugu mew tañi yamgeam xvr kvme nor felen.\n    Ka kimnieel ñi rvf kvme zugugen, wenvykawvn kom pu Xokiñke Ce egvn, nuwkvlelu Kiñe Mapu mew ("Naciones Unidas" pi ta wigka): Tvfa egvn xawvlelu "Naciones Unidas" mew nuwtuaygvn tvfaci "Fvxa Cijka" mew kvme xvr norkvletuam ñi mogen kom pu wenxu ka pu zomo mvlelu ixofij mapu mew feyci, kom xawvci pu ce tañi werkvel ci Pu Xokinke Ce ("Estados Miembros" pi ta wigka) mvlelu fij mapu kom pvle kejuwayiñ taiñ yamfalafiel xvr kvme felen ka nor felen piwigvn.\n    Femueci mvlcy ñi kimniegeael kom mapu mew nor kvme felen ka kisugvnew mvlen tvfaci rakizuam kvzaw mew.\n    Fey mew Fvxa Xawvn mew ("Asamblea General" pi ta wigka)\n    Wixañpvramgey tvfaci Fvxa Cijka Kom Mapu Fijke Az Ce Tañi Az Mogeleam pigelu.\n    Rvf kvme zugugelu am fey mew ta mvley tañi kvzawael kom pu ce fij mapu mew, pu fvxake vbmen, kom pu ce wvnenkvlelu cem zugu mew rume, pu wenxu ka pu zomo mvley tañi newenmayafiel ka wenuñpvramafiel tvfaci zugu az mogeleam kom pu mogen ce, fey mew ta yamgeay xvr felen ka nor felen tvfaci mogen mew.\n  \n    Kiñe Xoy (1)\n    Kom pu mogence kisuzuam mvlekey, kom cegeygvn, logkogeygvn ka piwkegeygvn, nieygvn kimvn fey mew mvley tañi yamniewael ka epuñpvle kejuwael egvn.\n  \n    Epu Xoy (2)\n    KIÑE. Kom xipace, fijke mojfvñ ce wixapvraley ñi kvme felen, nor felen tvfaci Fvxa Cijka mew, cumgeay rume ñi zugun, ñi wimtun, cem azgeay rume, cem kimvn rume nieay.\n    EPU. Kom pu xokiñ ce, cem az mogengeayrume mvlelu fij mapu, ka femueci xvr nvwkvley tvfaci Fvxa Cijka mew.\n  \n    Kvla Xoy (3)\n    Kom ce mvley ñi mogeleael, kisugvnew feleael ka yamniegeael.\n  \n    Meli Xoy (4)\n    Iney rume gelay ñi xafkiñtuceael. Gewelayay xafkiñtucen ran mew kuyfi reke.\n  \n    Kecu Xoy (5)\n    Cem ce rume wezakamekegelayay, kupafkamekegelayay.\n  \n    Kayu Xoy (6)\n    Kom ce fij mapu mew mvley ñi kimgeael, wirintukulelu am ñi vy wigka zugu mew ("Personalidad Jurídica" pi ta wigka).\n  \n    Reqle Xoy (7)\n    Kom femgey ce wigka ñi wirikon zugu mew ("Ley" pi ta wigka) fey mew kom pu ce pepi nvway tvfaci zugu mew. Yamgerumenole cuci sugu rume wirintukulelu tvfaci "Fvxa Cijka" mew.\n  \n    Pura Xoy (8)\n    Pu wigka mew mvley kiñe ruka cew ñi norvmgekemum ixofij wezake zugu; fey mew pepi nvway kom pu ce tañi igkañmageam, yamvñmagenole tvfeyci nor zugu wirintukulelu fvta cijka mew "Constitución" pigelu, nielu kom pu xokiñke ce fij mapu.\n  \n    Ayja Xoy (9)\n    Gelay iney rume ñi koraltukugeael ka wemvnentugeael ka wemvnentugeael tañi mapu mew wezakamekenole.\n  \n    Mari Xoy (10)\n    Tvfeyci wigka norvmzuguwe ruka mew, kom pu ce mvley ajkvtuñmageael ñi zugu, tañi kimgeam ñi weza femvn kam femnon ka tañi kimgeam cumueci ñi feletuael ragi kakelu pu ce.\n  \n    Mari Kiñe Xoy (11)\n    \n      \n\tKIÑE. Cem ce rume kimvñmagenole ñi weza femvn gelay cumuelu tañi zajuñmageael ka mvley ñi eluñmageael tañi igkawam.\n      \n      \n\tEPU. Kuyfi iney rume weza femfule, feyci mew zajufalnofule tvfeyci zugu gelay cumuelu ñi zajuñmageael fewla. Ka gelay cumuelu ñi zoy fvxa zajuñmageael feypilenole fewla tvfeyci nor zugu mew wirintukulelu Fvxa Cijka mew.\n      \n    \n  \n    Mari Epu Xoy (12)\n    Wigka ñi wirikon zugu mew ("Ley" pi ta wigka) nvwkvley kom pu ce ka fey mew mvley ñi igkañmageael egvn kake ce zugukonle ñi mogen mew, kam ka ce pekanka lef konle ñi ruka mew, kom tañi felen mew ka wezaka zuguyekañmagele.\n  \n    Mari Kvla Xoy (13)\n    \n      \n\tKIÑE. Kom pu ce mvley ñi kisugvnew miyawael xokiñke ce ("Estados" pi ta wigka) ñi mapu mew.\n      \n      \n\tEPU. Kom pu ce pepi xipayay cem xokiñke ce ("Estado" pi ta wigka) mew rume ka kisu ñi mvlemum, welu ka pepi wiñotuay.\n      \n    \n  \n    Mari Meli Xoy (14)\n    \n      \n\tKIÑE. Cem zugu mew rume inayawgele cem ce rume, tvfa mvley ñi gvnaytuniegeael ("asilar" pi ta wigka) cem xokiñ ce mew rume.\n      \n      \n\tEPU. Welu tvfeyci gvnaytucen kvmelayay, rvf weza femle tvfaci ce, inayawlel (lagvmle, weñele) ka yamnofile tvfaci "Naciones Unidas" ñi wixañpvramnieel ci zugu.\n      \n    \n  \n    Mari Kecu Xoy (15)\n    \n      \n\tKIÑE. Kom pu ce pepi nvwkvleay cem az mogen ("nacionalidad" pi ta wigka) mew rume.\n      \n      \n\tEPU. Iney rume mvntuñmagelayay ñi az mogen ("nacionalidad") ka pepi nvway ka konaygvn kake az mogen mew kvpa femle egvn.\n      \n    \n  \n    Mari Kayu Xoy (16)\n    \n      \n\tKIÑE. Kom pu zomo ka pu wenxu pepi kureyeway kvpa kvreyewle cem xipacegeaygu rume, kekewme az mogen nieaygu rume. Kvpa niele kisu ñi pu fvren egu femaygu mvten. Ka femueci kvme feleaygu: iney rume cumekelayaygu egu kurewenkvlen kam wvzatule egu rume.\n      \n      \n\tEPU. Tvfaci epu ce re kisuzuam pile egu mvten fey wvla pepi kureyewaygu.\n      \n      \n\tKVLA. Kom pu fijke ce reñmawengenofule gelayafuy ce kom mapu, fey mew ta pu xokiñ ce ("Estado" pi ta wigka) ka kom pu ce mvley tañi gvnaytunieael fijke fvrenwen ka reñmawen.\n      \n    \n  \n    Mari Reqle Xoy (17)\n    \n      \n\tKIÑE. Kom pu ce mvley kisu ñi gengeael, ka xokiñke ce ñi gengeael cemu rume.\n      \n      \n\tEPU. Iney rume pekanka mvntuñmagelayay ñi nieel (cemgeay rume).\n      \n    \n  \n    Mari Pura Xoy (18)\n    Cem rakizuam rume cem feyentun rume nieay fij pu ce gelayay cumuelu ñi mvntuñmageael ka takuñmageael. Kisuzuam kvpa konle kake feyentun mew femay mvten, kvpa kimelle ñi rakizuam ka feyentun ka pepi kimelafi.\n  \n    Mari Ayja Xoy (19)\n    Kom pu ce pepi entuay ñi rakizuam ka zugu, ka pepi kimellafi kompvle cumueci rume (radiomu, telemu, wirinmu) ka pepi kintuay, ramtuay ka joway zugu tañi kvzawkvlenmu. Ka femueci tvfaci zugu pepi kimellafi cew rume.\n  \n    Epu Mari Xoy (20)\n    \n      \n\tKIÑE. Kom pu ce kisu ñi gvnewmu pepi xawvay cem piei xokiñ ce egvn rume.\n      \n      \n\tEPU. Welu cem ce rume pinole ñi konaeal cem xokiñ ce ñi kvzaw mew rume, gelay cumuelu ñi gagegeael.\n      \n    \n  \n    Epu Mari Kiñe Xoy (21)\n    \n      \n\tKIÑE. Cem ce rume pepi konay logkolealu tvfeyci xokiñ ce mew nvwkvlelu Kiñe Mapu mew ("País" pi ta wigka) kam werkvaygvn kiñe ce kisu egvn tañi zujiel.\n      \n      \n\tEPU. Kom pu ce xvr pepi konay tañi kiñe Mapu Xokiñ ce mew ñi cem kvzaw mew rume.\n      \n      \n\tKVLA. Tvfey ci Kiñe Mapu Xokiñ ce mew logkolelu: Logkogey kom pu ce mvlelu fey ci xokiñmu tañi zuam. Tvfa ci pu ce mvxvmmuway tañi zujiam ñi logko egvn, kom xvr pepi feypiaygvn iney tañi zuamniefiel tañi logkogeal.\n      \n    \n  \n    Epu Mari Epu Xoy (22)\n    Tvfey ci logkolelu Kiñe Mapu Xokiñ Ce mew mvley wvlael ixofij keju tañi kvme feleam ka kvme mogeleam kom pu ce mvlelu tvfey ci Xokiñ mew. Tvfaci logko kvme pepi kejunole ñi pu ce mvley tañi kejuaetew kake Mapu Xokiñ Ce.\n  \n    Epu Mari Kvla Xoy (23)\n    \n      \n\tKIÑE. Kom pu ce mvley ñi nieael kvzaw, mvley kisu zujiael ñi kvzaw femueci ta xvr feleay ta pu ce. Cem ce rumje penoloe kvzaw mvley tañi gvnaytunieaetew wvnenkvleci pu ce ixofij zugu mew, tañi Kiñe Mapu Xokiñ Ce mew.\n      \n      \n\tEPU. Kom pu ce cumgeay rume mvley ñi kom xvr kujigeael tañi kvzaw mew egvn.\n      \n      \n\tKVLA. Kom Kvzawci pu ce mvley ñi kvme kujiniegeael; tañi kvme mogeleam ka kvme mogelneam ñi pu fvren. Puwjenole tvfaci mogeam, mvley ñi kejugeael tañi Kiñe Mapu Xokiñ Ce mew.\n      \n      \n\tMELI. Tvfeyci pu kvzawfe rvf kvme felenole, yamvñmagenole ñi zugu egvn pepi xawvluwaygvn tañi kinewvn igkawam egvn.\n      \n    \n  \n    Epu Mari Meli Xoy (24)\n    Kom Kvzawfe pu ce mvley ñi vrkvtuael ñi kvzaw mew, ka tañi zoy kvzawnoam, yamvñmageael ñi orario ka tañi kiñe mufv antv vrkvtuael fij xipantu.\n  \n    Epu Mari Kecu Xoy (25)\n    \n      \n\tKIÑE. Kom pu ce mvley ñi kvme mogen nieael; kuxanle egvn tañi peael lawen, tañi kvme iyael egvn, kvme tukuluwvn ñi peael, kvme ruka mew ñi mvleael, tañi peael lawentufe ce egvn. Tvfa rume falile tañi keju kujigeael. Ka femueci pepi kvzawnole mvley ñi kejuaetew ka gvnaytuaetew pu wvnenkvleci pu ce ixofij zugu mew tañi Kiñe Mapu Xokiñ mew.\n      \n      \n\tEPU. Pvñeñci pu zomo ka mvle-mvlegeci pu picike ce mvley ñi peaetew ka kejuaetew kvmeke lawentucefe ka femueci kom pu picike ce mvley ñi gvnaytuniegeael kom pu Xokiñ Ce mew.\n      \n    \n  \n    Epu Mari Kayu Xoy (26)\n    \n      \n\tKIÑE. Kom pu ce pepi kimay fij cijkatun, cem ce rume kujilayay tañi kimam. Welu kom pu ce mvley tañi rvf kimelgeael fij zugu wvneluw cijkatukeel tañi kim cegeam. Cem ce rume zoy kvpa cijkatule tañi zoy kimam femay mvten ka kom pu ce cumgeay rume, pepi konay cem cijkatun mew rume, tañi ayvnieel ñi inayael.\n      \n      \n\tEPU. Kom tvfaci cijkatun ka kimeltun mvley ñi kejuael kvme cegeam, kim cegeam, nor vegeam, mvley ñi newenmayafiel ta nor felen ka kisugvnew felen tvfaci mogen mew. Mvley tañi kejuael welukon yamniewael mew ka wenvykawael kom pu ce ka fijke Xokiñke Pu Ce, cem az mogen rume nieaygvn. Kom tvfaci kimeltun mvley ñi kejukvzawmayafiel ka wixañpvramafiel fij kvmeke zugu "Naciones Unidas" mew.\n      \n      \n\tKVLA. Kom pu kurewen mvley kisu egu ñi piael cem kimvn ka cijkatun nieael tañi pu pvñeñ.\n      \n    \n  \n    Epu Mari Reqle Xoy (27)\n    \n      \n\tKIÑE. Kom pu ce mvley ñi kisuzuam nvwael cem wimtun mew rume mvlele tañi Xokiñ Ce mew, ka tañi kintuael, inakonael, ka nvael cem fvtake kimvn rume mvlele.\n      \n      \n\tEPU. Cem ce rume mvley tañi gvnaytukunieñmageae ka kuñiwtukunieñmageael tañi gvbam ka tañi kimvn niele ka femueci mvley ñi niegeael tvfaci zugu cuci ce rume kuwv mew entule cem kvzaw rume.\n      \n    \n  \n    Epu Mari Pura Xoy (28)\n    Fijke Kiñe Mapu Xokiñ Ce mew mvley ñi kvme nor elgeael zugu, femueci ta kom pu ce mvlelu fij mapu yamvñmageay ñi nor az felen.\n  \n    Epu Mari Ayja Xoy (29)\n    \n      \n\tKIÑE. Kom pu ce mvley tañi rvf nieael kvme zugu, kvme rakizuam ka tañi nor cegeael tañi ragi pu Xokiñ Ce mew, fey mew am xemkvlelu ce reke ka amulnielu cem kvzaw rume.\n      \n      \n\tEPU. Tañi nor felenmu ka kisugvnew felenmu kom pu ce nvwkvleay wigka ñi wirikon zugu mew ("Ley" pi ta wigka) mvten, fey mew ta kakelu pu ce yamvñmageay ñi kvme feleael, kisugvnew felen, ñi nor feleael ka tañi mvleam xvr ka nor mogen kom pu Xokiñke Ce mew.\n      \n      \n\tKVLA. Kom tvfaci nor zugu cumkaw rume gelay ñi nvgeael weluka ka pekagka amulgeale. "Naciones Unidas" ta pekagka amulael mogen, wixañpvrammekelay tvfaci "Fvxa Cijka".\n      \n    \n  \n    Kvla Mari Xoy (30)\n    Tvfaci "Fvxa Cijka", cew tañi kimelgen cumueci ñi mvleael mogen fij mapu, gelay cem xokiñ ce rume ñi nvafiel tañi goymalafiel ka tañi kvzawmayafiel tañi ñamvmnaqvmgeam cuci zugu rume pegelgeael tvfaci "Fvxa Cijka" mew.\n  '